*.pyc
*.pyo
*.bak
local_settings.py
.task*
*.scala
*.class
target/
.project
.pydevproject
*.swp
*__
foobar
.settings
conf/zlemma_nginx.conf
conf/supervisord.conf
static/CACHE/
*.pem
conf/sentry.db
data/profiles
nohup.out
.idea
node_modules
tmp
.ropeproject
dump.rdb
ZLemmaCore.egg-info
build
dist
static-deploy
bin/
lib/
